<h2>Methods that were not run</h2><table>
<tr><td>com.tatahealth.EMR.Scripts.MasterAdministration.MedicalCertificates.MedicalCertificateTest</td></tr>
<tr><td>com.tatahealth.EMR.Scripts.MasterAdministration.MedicalCertificates.LeaveCertificateTest</td></tr>
<tr><td>com.tatahealth.EMR.Scripts.MasterAdministration.MedicalCertificates.MedicalCertificate_Printleave_MFitness_Cert</td></tr>
<tr><td>com.tatahealth.EMR.Scripts.MasterAdministration.MedicalCertificates.Search_MedicalCert</td></tr>
</table>